@{
    ViewBag.Title = "Employee";
}

<!--Employee-->
<div class="employee-page">
    <div class="btn-area">
        @Html.ActionLink("register new employee", "Emp_form", "Home", null,
            new {@class = "btn btn-success f-cap"}
    )
    </div>
    <div class="table-area">
        <table class="table table-light">
            <tr>
                <th>NIC</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>House No</th>
                <th>Address</th>
                <th>City</th>
                <th>Postal Code</th>
                <th>Joined Date</th>
                <th>Pay Rate</th>
                <th>DOB</th>
                <th>Age</th>
                <th>Gender</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td class="all-cap">992993553v</td>
                <td class="f-cap">sithum</td>
                <td class="f-cap">kavinda</td>
                <td class="all-cap">58/40/a</td>
                <td class="f-cap">Hiripitiya, Pannipitiya</td>
                <td class="f-cap">Kottawa</td>
                <td>10232</td>
                <td>20/07/2022</td>
                <td>1500.00</td>
                <td>20/10/1999</td>
                <td>23</td>
                <td class="all-cap">M</td>
                <td><button class="btn btn-primary">edit</button></td>
                <td>
                    <button class="btn btn-danger" onclick="openForm()">
                        remove
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="msg-box" id="msg-box">
    <button class="btn btn-close btn-sm" onclick="closeForm()"></button>
    <div class="text-logo">
        <div class="logo">
            <i class="fa-solid fa-triangle-exclamation"></i>
        </div>
        <small>Do you want to remove <i>emp_name</i>?</small>
    </div>
    <div class="button-area">
        <button class="btn btn-primary btn-sm">Yes</button>
        <button class="btn btn-light btn-sm" onclick="closeForm()">No</button>
    </div>
</div>

<script>
    // const form = document.getElementsByClassName("emp-form");
    const openForm = () => {
        document.getElementById("msg-box").style.display = "block";
    };

    const closeForm = () => {
        document.getElementById("msg-box").style.display = "none";
    };
</script>