@{
    ViewBag.Title = "Home";
}

<!-- Home -->
<div class="function-links">
    @Html.ActionLink("employees management", "Employee", "Home")
    @Html.ActionLink("funds management", "Funds", "Home")
    @Html.ActionLink("attendance management", "Attendance", "Home")
    @Html.ActionLink("salary management", "Salary", "Home")
</div>