@{
    ViewBag.Title = "Home";
}

@Styles.Render("homeStyles")

<div class="function-links">
    <div class="employee">employees management</div>
    <div class="funds">funds management</div>
    <div class="attendance">attendance management</div>
    <div class="salary">salary management</div>
</div>